<div class="container" *ngIf="regform">
    <h2>Registration Form</h2>

    <form id="myform" name="myform" [formGroup]="reactiveForm">

        <div>
            <label>Name :</label>
            <input formControlName="fname" type="text" class="textbox">
            <div *ngIf="reactiveForm.controls['fname'].hasError('required')" class="error-block">Fields required</div>
        </div>

        <div>
            <label>Email :</label>
            <input formControlName="femail" type="text" class="textbox">
            <div *ngIf="reactiveForm.controls['femail'].hasError('required')" class="error-block">Fields required</div>
        </div>

        <div>
            <label>Phone No :</label>
            <input formControlName="fphoneno" type="text" class="textbox">
        </div>
        <div *ngIf="reactiveForm.controls['fphoneno'].hasError('required')" class="error-block">Fields required</div>
        <div>
            <label>Address :</label>
            <textarea formControlName="faddress" name="address" class="textarea"></textarea>
        </div>
        <div *ngIf="reactiveForm.controls['faddress'].hasError('required')" class="error-block">Fields required</div>
        

        <input id="submit" type="button" (click)="onsubmit()" value="Submit" class="button">

    </form>

</div>

<div *ngIf="edu">
    <app-education [stuValue]="Details" (objValue)="getValue($event)"></app-education>
</div>
<div  class="container" text-align:center *ngIf="details">
   
Your details are successfully submitted
<div>Name:{{Details.fname}}</div>
<div>Email id:{{Details.femail}}</div>
<div>Phone no:{{Details.fphoneno}}</div>
<div>Address:{{Details.faddress}}</div>
<div>Institution name:{{Details.child.cname}}</div>
<div>Passed out:{{Details.child.pout}}</div>
<div>Percentage:{{Details.child.perc}}</div>
</div>